*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    display: flex;
    align-self: auto;
    text-decoration: none;
    font-size: x-large;
    color: white;
}

a:hover{
    color: blue;
}

header, footer{
    width: 100%;
    height: 320Px;
    padding-top: 40px;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)) ,url("../../ressources/images/musique.jfif");
    box-shadow: 0px 0px 15px #333;
    border-top: 2px solid #0000;
    border-bottom: 2px solid #0000
}

header h1{
    color: white;
    font-size: 3em;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    padding: 20px;
    margin: 20px auto;
}
